.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #9c27b0;
    
}
.wizard li.active span.round-tab i{
    color: #9c27b0;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #9c27b0;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #9c27b0;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }
.wizard .tab-pane {
        position: relative;
        padding-top: 50px;
        padding-left: 20px;
    }


.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}






.wizard_2 {
    margin: 20px auto;
    background: #fff;
}

.wizard_2 .nav-tabs_2{
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}
.wizard_2 .nav-tabs_2 > li {
    width: 17%;
    height: 10%;
}
.wizard_2 li.active span.round-tab {
    background: #fff;
    border: 2px solid #9c27b0;
    
}
.wizard_2 li.active span.round-tab i{
    color: #9c27b0;
}

.wizard_2 .nav-tabs_2> li.active > a, .wizard_2 .nav-tabs_2> li.active > a:hover, .wizard_2 .nav-tabs_2> li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}
.wizard_2 .nav-tabs_2> li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard_2 .nav-tabs_2> li a:hover {
        background: transparent;
    }
    .connecting-line_2{
        height: 57%;
        background: #e0e0e0;
        position: absolute;
        width: 2px;
        margin: 0 auto;
        left: -80%;
        right: 0;
        top: 28%;
        z-index: 1;
    }
    .wizard_2 li:after {
        content: " ";
        position: absolute;
        left: 46%;
        opacity: 0;
        margin: 0 auto;
        bottom: 0px;
        border: 5px solid transparent;
        border-bottom-color: #9c27b0;
        transition: 0.1s ease-in-out;
    }
    
    .wizard_2 li.active:after {
        content: " ";
        position: absolute;
        left: 43%;
        opacity: 1;
        margin: 0 auto;
        bottom: 11%;
        border: 10px solid transparent;
        border-bottom-color: #9c27b0;
    }
    .wizard_2 .nav-tabs > li a:hover {
        background: transparent;
    }
.wizard_2 .tab-pane {
        position: relative;
        padding-top: 50px;
        padding-left: 20px;
    }


.wizard_2 h3 {
    margin-top: 0;
}


@media( max-width : 585px ) {
    
        .wizard_2 {
            width: 90%;
            height: auto !important;
        }
    
        span.round-tab {
            font-size: 16px;
            width: 50px;
            height: 50px;
            line-height: 50px;
        }
    
        .wizard_2 .nav-tabs > li a {
            width: 50px;
            height: 50px;
            line-height: 50px;
        }
    
        .wizard_2 li.active:after {
            content: " ";
            position: absolute;
            left: 35%;
        }
    }



    /* three */

    .step {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-family: 'SansaPro-SemiBold';
        font-size: 25px;
        color: #FFF;
        line-height: 50px;
        text-align: center !important;
        background: #FF0000;
        transition: all 1s;
    }
    
    /* .step-ok {
        width: 50px; 
        height: 50px;
        border-radius: 50%;
        font-family: 'SansaPro-SemiBold';
        font-size: 25px;
        color: #FFF;
        line-height: 50px;
        text-align: center !important;
        background: #39B54A;
    }
    
    .step-fll-prev {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-family: 'SansaPro-Bold';
        font-size: 30px !important;
        text-align: center !important;
        cursor: pointer;
    }
    
    .step-fll {
        color: #fff;
        background: #283897;
        margin-left: 3px;
        line-height: 38px;
    }
    
    .step-prev {
        color: #283897;
        background: #FFF;
        border-width: 2px;
        border-style: solid;
        border-color: #283897;
        margin-left: -5px;
        line-height: 35px;
    }
    
    .step-fll-prev i {
        font-size: 30px !important;
    } */
    
    .step-text {
        /*font-family: 'SansaPro-SemiBold';*/
        font-size: 15px;
        padding-left: 46px;
        padding-top: 5px;
        text-align: left !important;
        vertical-align: middle;
    }
    
    .panel-default {
        border-color: transparent;
    }
    
    /* .panel {
        margin-bottom: 20px;
        background-color: transparent;
        border: 0px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.05);
        box-shadow: 0 0px 0px rgba(0,0,0,0.05);
    }
    
    .panel-default>.panel-heading {
        color: #333;
        background-color: transparent;
        border-color: transparent;
    }
    
    .panel-group .panel-heading+.panel-collapse .panel-body {
        border-top: 0px solid #ddd;
    } */
    
    .line-wizard {
        position: absolute;
        width: 2px;
        background-color: #CCCCCC;
        z-index: -1;
    }
    
    .l1 {
        height: 214px;
        margin-top: 44px;
        margin-left: 25px;
    }
    
    .l2 {
        height: 217px;
        margin-top: -45px;
        margin-left: 25px;
    }
    
    .l3 {
        height: 131px;
        margin-top: -199px;
        margin-left: 25px;
    }
    
    /* old */
    .nav-tabs_3 > li.active > a, .nav-tabs_3 > li.active > a:focus, .nav-tabs_3 > li.active > a:hover { border-width: 0; }
    .nav-stacked_3 > li + li {
        margin-top: 0px;
    }
    .nav-tabs_3 > li > a {
        padding: 15px 1px 15px 0px !important;    
        color: #AAAAAA;
        background-color: transparent !important;
        border: 0px;
        border-radius: 0px;
        margin: 0;
    }
    
    
    
    .nav-tabs_3 > li > a .step{
        background-color: #CCCCCC !important;
    }
    
    .nav-tabs_3 > li.active > a .step{
        background-color: #e02a6b !important;
    }
    
    .nav-tabs_3 > li > a:hover, .nav-tabs_3 > li > a:focus {
        /*background-color: transparent; */
        color: #2A295C;
        z-index: 99;
        transition: all 0.5s ease 0s;
    }
    .nav-tabs_3 > li.active > a {
       color: #2A295C;
       /*background-color: transparent;*/
        /*box-shadow: 0 0px 5px rgba(0, 0, 0, .6);*/
        z-index: 100;
    }
    .nav-tabs_3 > li.active > a:hover, .nav-tabs_3 > li.active > a:focus {
       color: #2A295C;
       /*background-color: #2962FF; */  
       /*box-shadow: 0 0px 5px rgba(0, 0, 0, .6);*/
       transition: all 0.5s ease 0s;
    }
/*     
    .btn {
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
          touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 1px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      transition: all 0.5s ease 0s;
      
    }
     */
    .nav-tabs_3 {
        border-bottom: 0px solid #ddd;
    }
/*     
    .btn-primary {
        background-color: #2962FF;
    }
    .btn-primary:hover, .btn-primary:focus {
        background-color: #0D47A1;
    } */